:80 {
    root * /app/public
    php_fastcgi php:9000 {
        trusted_proxies private_ranges
    }
    file_server

    log {
        output stdout
        format json
    }

    metrics /caddy-metrics
}
