{% extends 'base.html.twig' %}

{# @var records \App\Job\Domain\JobChangelog[] #}

{% block body %}
    <a href="{{ path('list_newest_jobs') }}">Back to list of newest job</a>

    <table class="table table-stripped mt-3">
        <thead><tr><th>Created at</th><th>Message</th></tr></thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ record.createdAt | date('Y-m-d H:i:s') }}</td>
                    <td>{{ record.message }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        const eventSource = new EventSource("{{ mercure('job://' ~ jobId)|escape('js') }}");
        eventSource.onmessage = event => {
            const obj = JSON.parse(event.data);
            console.log(obj);
            switch (obj.type) {
                case 'new_job':
                    break;
                case 'page_fetched':
                    break;
                case 'url_created':
                    if (obj?.data?.url) {
                        window.location.href = obj.data.url;
                    }
                    break;
            }
        }
    </script>
{% endblock %}
